[submodule "lib/FiniteStateMachine"]
	path = lib/FiniteStateMachine
	url = https://github.com/PeaPodTechnologies/FiniteStateMachine
[submodule "lib/I2CIP"]
	path = lib/I2CIP
	url = https://github.com/PeaPodTechnologies/I2CIP
[submodule "lib/I2CIP-SHT45"]
	path = lib/I2CIP-SHT45
	url = https://github.com/PeaPodTechnologies/I2CIP-SHT45
[submodule "lib/I2CIP-K30"]
	path = lib/I2CIP-K30
	url = https://github.com/PeaPodTechnologies/I2CIP-K30
[submodule "lib/I2CIP-MCP23017"]
	path = lib/I2CIP-MCP23017
	url = https://github.com/PeaPodTechnologies/I2CIP-MCP23017
[submodule "lib/I2CIP-Nunchuck"]
	path = lib/I2CIP-Nunchuck
	url = https://github.com/PeaPodTechnologies/I2CIP-Nunchuck
[submodule "lib/I2CIP-Seesaw"]
	path = lib/I2CIP-Seesaw
	url = https://github.com/PeaPodTechnologies/I2CIP-Seesaw
[submodule "lib/I2CIP-SSD1306"]
	path = lib/I2CIP-SSD1306
	url = https://github.com/PeaPodTechnologies/I2CIP-SSD1306
[submodule "lib/I2CIP-PCA9685"]
	path = lib/I2CIP-PCA9685
	url = https://github.com/PeaPodTechnologies/I2CIP-PCA9685
